# Python cache
__pycache__/
*.pyc
*.pyo


# Local virtualenv
venv/
.env

# Ignore Jupyter Notebook checkpoints
.ipynb_checkpoints/

# Ignore Git files
.git/
.gitignore

# Ignore logs and temporary files
*.log
tmp/
*.bak

# Ignore data files
output/data/

# Ignore development files
BBC_NEWS_ARTICLE_CLASSIFICATION.ipynb
clean_notebook.py
change-commit-date.sh

# ignore Dockerfile artifacts
Dockerfile
docker-compose.yml
assets/